@{
    ViewData["Title"] = "About";
}

<div class="row z-no-margin-both z-pt-mobile">
    <img src="~/images/haulage2.jpg" class="img-responsive full-width" alt="about banner" />
</div>

<!--Idea from https://bootsnipp.com/snippets/Ga5nR-->
<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text">Zika Express Logistics has been delivering results since we opened in 2017. Our goal is to provide
                    both a superior customer experience and a tremendous value for our customers.</p>
                    <p class="aboutus-text">We are committed to exceeding your expectations and getting your freight on time <em>"Hassle free".</em></p>
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>MISSION STATEMENT</h4>
                                <p>Our ultimate goal is client satisfaction. Our mission is to provide our services in the most professional and 
                                pro-active manner, while delivering these services in a friendly customer approach.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h4>VISION</h4>
                                <p>To be recognised and respected as a professional, innovative and knowledge-base logistics company with the 
                                objective of meeting every logistics need of our customers.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
