
@{
    ViewData["Title"] = "Disclaimer";
}

<div class="container z-pt-50">
    <h3>Disclaimer</h3>
    <p>
        In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.

    </p>
</div>

