
@{
    ViewData["Title"] = "Terms";
}

<div class="container z-pt-50">
    <h4>Insurance Policy</h4>
    <p>we are not under any obligation to advise you to insure your goods and we are  not liable to reimburse you for any lost(not delivered) item package or goods that wasnt recieved in our warehouse

    shipment not delivered to our warehouse,we are under no obligation to do a refund.kindly contact your seller to this effect.

    All packages delivered to our US/UK  warehouse are duly signed  upon reciept and customers are to send us a proper reciept and authentication as well as tracking number to be able to process the shipmentby the warehouse staff.

    If you INSURE your goods and fail to provide proper  reciepts or documentation to validate the value of goods then we will deem the values less than or equal to our findings about such goods.
    </p>

    <h4>Website Usage</h4>
    <p>
        zika express is only eligible for persons of at least 18 years.below 18 years is sEEN AS A MINOR and thus shalll not register as a memeber or transact on the website.unless under the supervision of of a legal guardian or parents who have registered as a user on the website.failure to comply,we will shut down your memebership
    </p>
    <h4>Unauthorized and Prohibited Use of Service</h4>
    <p>
        Users shall not use our services for unauthorised purposes or for the purchase and freight of prohibited and illegal items contrary to regulatory laws.Note that any suspicious illegal aactivity will be reported to the appropriate authorities by us.

        Users can freely access the website on their devices but are strictly advice not to modify,alter,or infringe upon any intellectual property  rights contained on the website.violation to these terms and conditions  would result to termination of the website usage as well as our services.
    </p>
    <h4>Refunds/Payment</h4>
    <p>
        Refunds process takes 7working days
        items can only be returned if they are either damaged ,or wrongly given an item.we will replace it with the right item or provide you with a full refund.

        if you intend shiipping breakable items,please inform us ahead of time

        when pickup you are picking your  item at our office please ensure you verify your content,incase of anything please notify the staff of zikaexpress logistics
    </p>
    <h4>Order/Packaging</h4>
    <p>Items might be re-bagged by zikaexpress logistics and may not arrive in the original box or packaging</p>

    <h4>Resolutions</h4>
    <p>
        Please contact zikaexpress01@gmail for any any complaints,we are fully comited to addressing all complaints in a reasonable time fram
    </p>
    <h4>Confidentiality</h4>
    <p>
        We treat all information  concerning any complainnts or complaince in confidence and  we will not disclose to anyone except or inaccordance with any.instructions you have given us.
    </p>
    <h4>Reviews/Terms and Conditions</h4>
    <p>
        ZIKAEXPRESS LOGISTICS retains the right to change ,modify add or remove portions of these terms of use at any time.
        it is the duty of the customers to check the terms and conditions periodically
    </p>
</div>

