@model Zika.Models.Pricing

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pricing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PricingInformation" class="control-label"></label>
                <textarea asp-for="PricingInformation" class="form-control"></textarea>
                <span asp-validation-for="PricingInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

